<p>table works!</p>



  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">product Name</th>
            <th scope="col">unitPer Case</th>
            <th scope="col">cartoon Price</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tableItem of tableList">
            <td>{{ tableItem.id }}</td>
            <td>{{ tableItem.productName }}</td>
            <td>{{ tableItem.unitPerCase }}</td>
            <td>{{ tableItem.cartoonPrice }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
