.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid #555;
}
.title{
    color: wheat;
    margin-left: 30%;
}

.sidenav{
    background-color: #3f51b5;
    width: 20%;
}

.example-spacer {
    flex: 1 1 auto;
  }


.hvrbutton:hover:before {
    background-color: red !important;
    -webkit-transform: translateX(-49%);
            transform: translateX(-49%);
            
  }
 .hvrbutton:hover:after {
    background-color: green !important;
    -webkit-transform: translateX(49%);
            transform: translateX(49%);
  }

  .search{
background-color: honeydew;
border-radius: 10px;
  }

  .centr{
      align-items: center;
      color: wheat;
      text-align: center
  }

.mat-divider{
      color: whitesmoke;
      background-color: white;
  }

  .div_padding{
margin: 10px;
  }